// ===== Colors =====
$color-blue: #143dea;
$color-dark: #101828;
$color-secondary: #505d70;
$color-lightgray: #f3f3f3;
$color-white: #ffffff;
$color-danger: #ff4d4f;
$color-success: #52c41a;
$color-warning: #faad14;

// ===== Sizes =====
