@import "@app/styles/variables";

.image {
  display: block;
  max-width: 100%;
  height: auto;
}

/* === Rounded === */
.default {
  border-radius: 0px;
}

.rounded {
  border-radius: 10px;
}

.circle {
  border-radius: 50%;
}
